body {
  background-color: #1D2129;
  color: #FFF;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 6em;
  font-weight: 900;
  text-align: center;
}

h2 {
  font-size: 2em;
  font-weight: 400;
  text-align: center;
}

p {
  font-size: 1.5em;
  font-weight: 100;
}

a {
  color: #FCCE53;
}

table {
  background-color: #323F50;
  color: #AAB4BE;
  text-align: center;
  width: 100%;
}

thead {
  background-color: #35475F;
}

th, td {
  font-weight: 400;
  min-width: 100px;
  padding: 10px;
}

::selection {
  background-color: #323F50;
  color: #0097D8;
}
::-moz-selection {
  background-color: #323F50;
  color: #0097D8;
}

.container {
  margin-left: 25%;
  margin-right: 25%;
}

.center {
  text-align: center;
}

.red {
  background-color: #FF3D56;
  font-weight: 400;
  padding: 0 5px;
  text-shadow: 1px 1px 0 rgba(0,0,0,.5);
}

.green {
  background-color: #0BAC45;
  font-weight: 400;
  padding: 0 5px;
  text-shadow: 1px 1px 0 rgba(0,0,0,.5);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,100%{transform:rotate(0)}
  20%,60%{transform:rotate(-25deg)}
  40%,80%{transform:rotate(10deg)}
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@media (min-width: 800px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
  h1 {
    font-size: 4em;
  }
}

@media (min-width: 1200px) {
  .container {
    margin-left: 20%;
    margin-right: 20%;
  }
}

